In [1]:
"""
OHLCV
"""

'\nsymbols\n'

In [2]:
print("Hello KIS-Developer")

Hello KIS-Developer

In [3]:
import pandas as pd
from mojito import KoreaInvestment

from private import KI_PRIVATE

In [4]:
def get_ki_broker():
    ki_broker = KoreaInvestment(
        api_key=KI_PRIVATE.get_app_key(),
        api_secret=KI_PRIVATE.get_app_secret(),
        acc_no=KI_PRIVATE.get_acc_number(),
    )
    return ki_broker

In [5]:
ki_broker = get_ki_broker()

In [7]:
stockcode = "005930"

In [ ]:
ki_broker.fetch_ohlcv()

In [8]:
"""
(symbol: str,
timeframe: str = 'D',
start_day: str = "",
end_day: str = "",
adj_price: bool = True
) -> dict
"""
ohlcv_resp_d = ki_broker.fetch_ohlcv(stockcode, timeframe="D")
ohlcv_resp_w = ki_broker.fetch_ohlcv(stockcode, timeframe="W")
ohlcv_resp_m = ki_broker.fetch_ohlcv(stockcode, timeframe="M")

In [12]:
pd.DataFrame([ohlcv_resp_d['output1']]).T

                                         0
prdy_vrss                             -100
prdy_vrss_sign                           5
prdy_ctrt                            -0.14
stck_prdy_clpr                       69700
acml_vol                          10322234
acml_tr_pbmn                  720442658092
hts_kor_isnm                          삼성전자
stck_prpr                            69600
stck_shrn_iscd                      005930
prdy_vol                          16350031
stck_mxpr                            90600
stck_llam                            48800
stck_oprc                            69700
stck_hgpr                            70200
stck_lwpr                            69500
stck_prdy_oprc                       70000
stck_prdy_hgpr                       70000
stck_prdy_lwpr                       69400
askp                                 69600
bidp                                 69500
prdy_vrss_vol                     -6027797
vol_tnrt                              0.17
stck_fcam                              100
lstn_stcn                       5969782550
cpfn                                  7780
hts_avls                           4154969
per                                   8.64
eps                                8057.00
pbr                                   1.37
itewhol_loan_rmnd_ratem name          0.09

In [13]:
pd.DataFrame(ohlcv_resp_d['output2'])

,stck_bsop_date,stck_clpr,stck_oprc,stck_hgpr,stck_lwpr,acml_vol,acml_tr_pbmn,flng_cls_code,prtt_rate,mod_yn,prdy_vrss_sign,prdy_vrss,revl_issu_reas
0,20231103,69600,69700,70200,69500,10322234,720442658092,00,0.00,N,5,-100,
1,20231102,69700,70000,70000,69400,16350031,1140761854600,00,0.00,N,2,1100,
2,20231101,68600,67500,68900,67300,13775256,939330583181,00,0.00,N,2,1700,
3,20231031,66900,67600,68300,66900,14488892,975299568500,00,0.00,N,5,-400,
4,20231030,67300,66800,67800,66700,10139270,681863369200,00,0.00,N,3,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20230615,71500,72100,72300,71300,13614994,977638034140,00,0.00,N,5,-400,
96,20230614,71900,72100,72200,71100,12541046,898255870000,00,0.00,N,5,-100,
97,20230613,72000,71700,72200,71600,13227285,950995107900,00,0.00,N,2,1000,
98,20230612,71000,72100,72400,70800,12064287,861581586290,00,0.00,N,5,-1000,
99,20230609,72000,71100,72300,70800,15050209,1080650065800,00,0.00,N,2,1100,

In [17]:
pd.DataFrame(ohlcv_resp_w["output2"])

,stck_bsop_date,stck_clpr,stck_oprc,stck_hgpr,stck_lwpr,acml_vol,acml_tr_pbmn,flng_cls_code,prtt_rate,mod_yn,prdy_vrss_sign,prdy_vrss,revl_issu_reas
0,20231030,69600,66800,70200,66700,65075683,4457698033573,00,0.00,N,2,2300,
1,20231023,67300,68700,69100,66700,61880722,4194355862171,00,0.00,N,5,-1500,
2,20231016,68800,67900,70500,66800,75581243,5208973778400,00,0.00,N,2,800,
3,20231010,68000,66200,69700,66200,74134017,5051683664406,00,0.00,N,2,2000,
4,20231004,66000,67400,67700,66000,53855989,3604041061329,00,0.00,N,5,-2400,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20220103,78300,79400,79800,76400,79495879,6192453945820,00,0.00,N,3,0,
96,20211227,78300,80600,80600,78100,63041188,5012309259400,00,0.00,N,5,-2200,
97,20211220,80500,77600,80800,76800,68279443,5391659512245,00,0.00,N,2,2500,
98,20211213,78000,77200,78500,76200,60704956,4694414145997,00,0.00,N,2,1100,
99,20211206,76900,75100,78600,74900,87941790,6773326462540,00,0.00,N,2,1300,

In [18]:
pd.DataFrame(ohlcv_resp_m["output2"])

,stck_bsop_date,stck_clpr,stck_oprc,stck_hgpr,stck_lwpr,acml_vol,acml_tr_pbmn,flng_cls_code,prtt_rate,mod_yn,prdy_vrss_sign,prdy_vrss,revl_issu_reas
0,20231103,69600,67500,70200,67300,40447521,2800535095873,00,0.00,N,2,2700,
1,20231031,66900,67400,70500,66000,290080133,19716217304006,00,0.00,N,5,-1500,
2,20230927,68400,66800,72900,66700,283534308,19915043495392,00,0.00,N,2,1500,
3,20230831,66900,70100,71200,65800,258464791,17553795027242,00,0.00,N,5,-2900,
4,20230731,69800,72700,73600,68100,303283444,21562806822420,00,0.00,N,5,-2400,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20151230,25199,25879,26439,24819,210568800,5392786432787,00,0.00,N,5,-480,
96,20151130,25679,27699,27859,25259,227371800,5995235800812,00,0.00,N,5,-1760,
97,20151030,27439,22799,27839,22239,312561650,7847718168856,00,0.00,N,2,4760,
98,20150930,22679,21779,23839,21299,260934950,5887377447803,00,0.00,N,2,900,
99,20150831,21779,23679,23739,20659,318101750,7082035544410,00,0.00,N,5,-1920,

In [ ]:
18,061,102원
13,000,000원