In [14]:
print("Hello KIS-Developer")

Hello KIS-Developer

In [15]:
import pandas as pd
from mojito import KoreaInvestment

from private import KI_PRIVATE

In [16]:
def get_ki_broker():
    ki_broker = KoreaInvestment(
        api_key=KI_PRIVATE.get_app_key(),
        api_secret=KI_PRIVATE.get_app_secret(),
        acc_no=KI_PRIVATE.get_acc_number(),
    )
    return ki_broker

In [17]:
ki_broker = get_ki_broker()

In [18]:
symbols_df = ki_broker.fetch_symbols()

In [19]:
stockcodes = sorted(set(symbols_df["단축코드"]))

In [21]:
ohlcv_resp = ki_broker.fetch_ohlcv(stockcodes[0])

In [22]:
pd.DataFrame(ohlcv_resp['output2'])

,stck_bsop_date,stck_clpr,stck_oprc,stck_hgpr,stck_lwpr,acml_vol,acml_tr_pbmn,flng_cls_code,prtt_rate,mod_yn,prdy_vrss_sign,prdy_vrss,revl_issu_reas
0,20231103,9660,9640,9750,9540,15855,152505600,00,0.00,N,2,80,
1,20231102,9580,9560,9700,9550,23510,226354480,00,0.00,N,2,80,
2,20231101,9500,9690,9750,9460,55051,526378750,00,0.00,N,5,-190,
3,20231031,9690,9770,9850,9580,53417,518170490,00,0.00,N,2,10,
4,20231030,9680,9510,9800,9490,41548,401530280,00,0.00,N,2,160,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20230615,10550,10520,10660,10370,220859,2323371790,00,0.00,N,2,100,
96,20230614,10450,10560,10620,10320,122135,1281287140,00,0.00,N,5,-100,
97,20230613,10550,10400,10630,10340,183365,1930012030,00,0.00,N,2,190,
98,20230612,10360,10270,10400,10120,214456,2202035900,00,0.00,N,2,130,
99,20230609,10230,10260,10350,10100,124826,1282550150,00,0.00,N,5,-20,

In [ ]:
ki_broker.create_market_buy_order(symbol="StockCode", quantity=10)
ki_broker.create_market_sell_order(symbol="StockCode", quantity=10)

In [ ]:
ki_broker.create_limit_sell_order(symbol="StockCode", quantity=10)
ki_broker.create_limit_sell_order(symbol="StockCode", quantity=10)